.-z-index{
    z-index: -1;
}
.loader {
    border: 3.5px solid #f3f3f3;
    border-top: 3.5px solid #3b82f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.loader.xl {
  border: 0.25rem solid #f3f3f3;
  border-top: 0.25rem solid #3b82f6;
  width: 2.5rem;
  height: 2.5rem;
}
.accordion{
    transition: max-height 0.2s ease, padding 0.2s ease, border-width 0.4s linear;
}
.accordion-body-close{
    max-height: 0px;
    overflow: hidden;
    padding: 0 1rem;
    border: none;
}
.accordion-body-open{
    max-height: 800px;
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
.loading-card span, .loading-card-effect{
    background: linear-gradient(to right, #ececec 8%, #f5f5f5 18%, #ececec 33%, #f5f5f5 45%, #ececec 55%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.dot-typing {
    position: relative;
    left: -9990px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #1f2937;
    color: #1f2937;
    box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    animation: dotTyping 1.5s infinite linear;
}
  
@keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
    50% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px -10px 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px -10px 0 0 #1f2937;
    }
    100% {
      box-shadow: 9984px 0 0 0 #1f2937, 9999px 0 0 0 #1f2937, 10014px 0 0 0 #1f2937;
    }
}