.-z-index{
    z-index: -1;
}
.loader {
    border: 3.5px solid #f3f3f3;
    border-top: 3.5px solid #3b82f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.accordion{
    transition: max-height 0.2s ease, padding 0.2s ease, border-width 0.4s linear;
}
.accordion-body-close{
    max-height: 0px;
    overflow: hidden;
    padding: 0 1rem;
    border: none;
}
.accordion-body-open{
    max-height: 800px;
}